@inherits LayoutComponentBase
@inject PedidosEDA.Infrastructure.Events.InMemoryEventLog EventLog
@implements IDisposable



<div class="page">
    <div class="sidebar @(_menuOpen ? "open" : "")">
        <NavMenu OnNavigate="CloseMenu" />
    </div>

    <div class="sidebar-backdrop @(_menuOpen ? "show" : "")" @onclick="CloseMenu"></div>

    <main>
        <div class="top-row px-4">
            <button class="btn btn-sm btn-outline-light d-md-none" @onclick="ToggleMenu">☰</button>

            <button class="btn btn-sm btn-outline-light ms-auto" @onclick="OpenEvents">
                Notificações 🔔 <span class="badge bg-light text-dark ms-2">@EventLog.GetAll().Count</span>
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@if (_showEvents)
{
    <div class="modal-backdrop-blazor" @onclick="CloseEvents"></div>

    <div class="modal-blazor" role="dialog" aria-modal="true">
        <div class="modal-card">
            <div class="modal-header">
                <h5 class="m-0">Últimos eventos</h5>
                <button class="btn btn-sm btn-outline-light" @onclick="CloseEvents">✕</button>
            </div>

            <div class="modal-body">
                <ul class="list-group">
                    @foreach (var e in EventLog.GetAll())
                    {
                        <li class="list-group-item">@e</li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
@code {
    private bool _showEvents;
    private bool _menuOpen;

    protected override void OnInitialized()
    {
        // quando algum handler adicionar log, atualiza o layout (badge 🔔)
        EventLog.OnChange += HandleEventLogChanged;
    }

    private void HandleEventLogChanged()
        => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        EventLog.OnChange -= HandleEventLogChanged;
    }

    void ToggleMenu() => _menuOpen = !_menuOpen;
    void CloseMenu() => _menuOpen = false;

    void OpenEvents() => _showEvents = true;
    void CloseEvents() => _showEvents = false;
}

