@inherits LayoutComponentBase
@inject PedidosEDA.Infrastructure.Events.InMemoryEventLog EventLog

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="text-white fw-semibold"></span>

            <button class="btn btn-sm btn-outline-light" @onclick="OpenEvents">
               Notificações 🔔 <span class="badge bg-light text-dark ms-2">@EventLog.GetAll().Count</span>
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@if (_showEvents)
{
    <div class="modal-backdrop-blazor" @onclick="CloseEvents"></div>

    <div class="modal-blazor" role="dialog" aria-modal="true">
        <div class="modal-card">
            <div class="modal-header">
                <h5 class="m-0">Últimos eventos</h5>
                <button class="btn btn-sm btn-outline-light" @onclick="CloseEvents">✕</button>
            </div>

            <div class="modal-body">
                <ul class="list-group">
                    @foreach (var e in EventLog.GetAll())
                    {
                        <li class="list-group-item">@e</li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

@code {
    private bool _showEvents;

    void OpenEvents() => _showEvents = true;
    void CloseEvents() => _showEvents = false;
}
