<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.linkedin.com/in/hugosantos27/">Event Driven Architecture</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="Navigate">
                Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pedidos" @onclick="Navigate">
                Monitorar pedidos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pedidos/criar" @onclick="Navigate">
                Criar pedido
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pedidos/cancelar" @onclick="Navigate">
                Cancelar pedido
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pedidos/documentacao" @onclick="Navigate">
                Documentação
            </NavLink>
        </div>
    </nav>
</div>
@code {
    [Parameter] public EventCallback OnNavigate { get; set; }
    private Task Navigate() => OnNavigate.InvokeAsync();
}

